---
import NintendoIcon from './icons/platforms/NintendoIcon.astro'
import PlayStationIcon from './icons/platforms/PlayStationIcon.astro'
import SteamIcon from './icons/platforms/SteamIcon.astro'
import XboxIcon from './icons/platforms/XboxIcon.astro'


const technologies = {
  UNITY: {
    name: "Unity",
    class: "bg-black text-white",
    // icon: UnityIcon,
  },
  UNREAL: {
    name: "Unreal",
    class: "bg-[#003159] text-white",
    // icon: UnrealIcon,
  },
  GAMEMAKER: {
    name: "GameMaker",
    class: "bg-black text-white",
    // icon: UnityIcon,
  },
  FLUTTER: {
    name: "Flutter",
    class: "bg-[#003159] text-white",
    // icon: FlutterIcon,
  },
  AZURE: {
    name: "Azure",
    class: "bg-[#003159] text-white",
    // icon: AzureIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    // icon: AstroIcon,
  },
}

const platforms = {
  NINTENDO: {
    name: "Nintendo",
    class: "bg-black text-white",
    icon: NintendoIcon,
  },
  XBOX: {
    name: "Xbox",
    class: "bg-[#003159] text-white",
    icon: XboxIcon,
  },
  PLAYSTATION: {
    name: "PlayStation",
    class: "bg-[#003159] text-white",
    icon: PlayStationIcon,
  },
  STEAM: {
    name: "Steam",
    class: "bg-[#003159] text-white",
    icon: SteamIcon,
  },
}

const projects = [
    {
        game: "Pato Box",
        imagePath: "projects/patobox-logo.webp",
        alt: "Pato Box image from Bromio",
        description: "Test your reflexes as you fight your way through an evil corporation in search for retribution. Uncover their deepest secrets by exploring thrilling 3d environments with a graphic novel/comic book art style. Find the henchmen who took your dream away in an action-packed and fast-paced fights that will test you to the limit as a true boxing champion! \n Will you chicken out or learn how to DUCK?",
        platforms: [platforms.STEAM, platforms.PLAYSTATION, platforms.XBOX, platforms.NINTENDO],
        technologies: [technologies.UNITY],
        work: "Development",
    },
    {
        game: "Remnants of the Rift",
        imagePath: "projects/remnants-of-the-rift-logo.webp",
        alt: "Image from Remnants of the Rift by Bromio",
        description: "Remnants of the Rift combines the tactics of grid-based strategy with the thrills of an action game. Each level plays out in real-time, but you can pause the game to assess the battlefield, prep your attacks and plan your next move. Use mods and equipment to enhance your preferred style of play and overcome your interdimensional foes.",
        platforms: [platforms.STEAM],
        technologies: [technologies.UNITY],
        work: "Development",
    },
    {
        game: "El Paso, Elsewhere",
        imagePath: "projects/el-paso-elsewhere-logo.webp",
        alt: "Image from El Paso, Elsewhere by Strange Scaffold",
        description: "El Paso, Elsewhere is a supernatural neo-noir third-person shooter. Hunt werewolves, fallen angels, and other damned creatures in a vivid slow motion love letter to action classics. Fight your way through a reality-shifting motel, floor by bloody floor. Save the victims of Draculae, lord of the vampires. Destroy the villain you loved--even if it means dying yourself.",
        platforms: [platforms.XBOX],
        technologies: [technologies.UNITY],
        work: "Porting",
    },
    {
        game: "Dilemo",
        imagePath: "projects/dilemo-logo.webp",
        alt: "Image from Dilemo by Pictoline Games",
        description: "Enjoy Pictoline's trivia game with more fun and predicaments from across the multiverse! HEX is an interdimensional being that travels from universe to universe in search of people who can distinguish true from false. Are you one of them? Demonstrate your knowledge in different categories, answering cards that will test what you know about your favorite topics. Are you the series and movie expert among your group of friends? The one passionate about history? The best in geography, in science or in general culture? The universe needs you!",
        technologies: [technologies.UNITY],
        work: "Backend for News Feature",
    },
    {
        game: "Aragami 2",
        imagePath: "projects/aragami2-logo.webp",
        alt: "Image from Aragami 2 from Lince Works",
        description: "Aragami 2 is a third person stealth game where you play as an assassin with the power to control the shadows. Join the shadow clan and fight the invader armies to protect your people.",
        platforms: [platforms.NINTENDO],
        technologies: [technologies.UNITY],
        work: "Porting",
    },
    {
        game: "Iron Marines Invasion",
        imagePath: "projects/iron-marines-invasion-logo.webp",
        alt: "Image from Iron Marines Invasion by Ironhide Game Studio",
        description: "Prepare to take off, soldier! The galaxy needs your strategy! Prove your RTS expertise, explore an entire galaxy and defend it from a threatening invasion.",
        platforms: [platforms.STEAM],
        technologies: [technologies.UNITY],
        work: "Porting",
    },
    {
        game: "Bunhouse",
        imagePath: "projects/bunhouse-logo.webp",
        alt: "Imnage from Bunhouse by Reky Studios",
        description: "Bunhouse is a cute, simple, bunny-filled game focused on growing plants and managing a greenhouse with fellow buns. Take care of your leafy plant buddies by balancing the amount of water and light they get. Play with friends and upgrade your greenhouse for wholesome, relaxing fun.",
        platforms: [platforms.NINTENDO, platforms.PLAYSTATION, platforms.XBOX],
        technologies: [technologies.UNITY],
        work: "Porting",
    },
    {
        game: "Neon City Riders",
        imagePath: "projects/neon-city-riders-logo.webp",
        alt: "Image from Neon City Riders by Mecha Studios",
        description: "Assume the role of Rick, a rad masked vigilante in search of superpowers and companions to defeat hordes of vicious enemies, solve defiant puzzles, unlock new paths, complete engaging side-quests, and finally, free the decaying futurist Neon City that has been seized by a group of superpowered gangs!",
        platforms: [platforms.NINTENDO, platforms.PLAYSTATION, platforms.XBOX],
        technologies: [technologies.GAMEMAKER],
        work: "Porting",
    },
]

---
<div class="flex flex-col gap-y-16">
    {      
      projects.map((project) => (        
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="flex flex-col items-center col-span-6 row-span-5 gap-8 rounded-xl overflow-hidden bg-cover bg-no-repeat">
              <img alt={project.alt} class="scale-110 transition duration-700 ease-in-out hover:scale-100"  loading="lazy" src={project.imagePath} />
            </div>
          </div>
          <div class="w-full md:w-1/2">
            <div class="flex flex-row justify-between">
              <h3 class="text-2xl font-bold">{project.game}</h3>
              <div class="flex flex-col gap-1 justify-end">
                <p class="text-right text-gray-400">{project.work}</p>
                <div class="flex flex-row gap-1 justify-end">
                  {project.platforms &&
                    project.platforms.map((platform) => (
                    <platform.icon class="text-gray-400" />
                  ))
                  }
                </div>
              </div>
            </div>
            <div class="flex flex-wrap mt-2">
              <p class="text-base text-gray-400">{project.description}</p>
            </div>
          </div>
        </article>
      ))
    }
    <h2 class="font-semibold text-2xl self-center bg-gradient-to-r from-cyan-500 to-blue-500 text-transparent bg-clip-text">
      And More
    </h2>
</div>


